<mat-card class="card-style">
<!--  <mat-card-header>-->
<!--    <div mat-card-avatar>-->
<!--      <mat-icon>account_circle</mat-icon>-->
<!--    </div>-->

<!--    <mat-card-title>Login</mat-card-title>-->
<!--  </mat-card-header>-->

  <mat-card-content>
    <mat-form-field class="form-field-style">
      <input #input matInput type="text" placeholder="User name" [(ngModel)]="userName">
      <button mat-button *ngIf="userName" matSuffix mat-icon-button aria-label="Clear" (click)="userName=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="getUserRequest(input.value)">Login</button>
  </mat-card-actions>
</mat-card>
