<div>

    <mat-card class="card-style">
        <div style="flex-direction: row; display: flex;align-items: center;justify-content: space-between">

            <div style="flex-direction: row; display: flex;align-items: center;">
                <mat-icon>account_circle</mat-icon>

                <div style="height:100%;">
                    <div class="vert-centered-text" style="margin-left: 10px">
                        {{user.name}}
                    </div>
                </div>
            </div>

            <div style="flex-direction: row; display: flex;align-items: center;">
                <button mat-button class="button-style" style="justify-self: flex-end">
                    <mat-icon>update</mat-icon>
                </button>
                <button mat-button class="button-style" style="justify-self: flex-end">
                    <mat-icon>create</mat-icon>
                </button>
            </div>
        </div>
    </mat-card>

    <mat-tab-group style="margin-top: 10px;min-height: 250px" dynamicHeight>
        <mat-tab>
            <ng-template mat-tab-label>
                Subscriptions
            </ng-template>

            <div *ngFor="let post of posts" style="margin-top: 10px">
                <mat-card class="card-style">

                    <mat-card-header>
                        <mat-card-title>{{post.title}}</mat-card-title>
                        <mat-card-subtitle>Id: {{post.postId}}</mat-card-subtitle>
                        <mat-card-subtitle>{{post.name}}</mat-card-subtitle>
                        <mat-card-subtitle>{{post.date | date:'dd.MM.yyyy - hh:mm'}}</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <p style="margin-left: 4%;margin-right: 4%">{{post.body}}</p>
                    </mat-card-content>

                    <mat-card-actions>
                        <div style="flex-direction: row; display: flex;align-items: center;justify-content: flex-end">
                            <button mat-button class="button-style" style="justify-self: flex-end" (click)="delete(post.postId)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-card-actions>

                </mat-card>
            </div>

        </mat-tab>

        <mat-tab >
            <ng-template mat-tab-label>
                Create a post
            </ng-template>
            <mat-card class="card-style">
                <div style="flex-direction: row; display: flex;align-items: center;justify-content: space-between">

                    <div style="flex-direction: row; display: flex;align-items: center;">
                        <mat-icon>account_circle</mat-icon>

                        <div style="height:100%;">
                            <div class="vert-centered-text" style="margin-left: 10px">
                                {{user.name}}
                            </div>
                        </div>
                    </div>

                    <div style="flex-direction: row; display: flex;align-items: center;">
                        <button mat-button class="button-style" style="justify-self: flex-end">
                            <mat-icon>update</mat-icon>
                        </button>
                        <button mat-button class="button-style" style="justify-self: flex-end">
                            <mat-icon>create</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card>
        </mat-tab>
    </mat-tab-group>



</div>
